<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur10" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur10 -->
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />

  <!-- arm -->
  <xacro:ur10_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <!--  changed robot position  -->
    <origin xyz="0.0 0.0 1.0" rpy="3.14159 0.0 0.0" />
  </joint>


  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.026 0 0" rpy="0 0 0"/>
    <parent link="ee_link"/>
    <child link="camera_link"/>
  </joint>


  <!-- Camera -->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

<gazebo reference="camera_link">
        <!--

    <sensor type="camera" name="rgbsensor">
        <always_on>1</always_on>
        <visualize>true</visualize>             
        <camera>
            <save enabled='1'>
              <path>/home/nizq/Downloads/Datas/simulation/sticks/rgb</path>
            </save>
            <horizontal_fov>1.047</horizontal_fov>  
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.1</near>
                <far>100</far>
            </clip>
        </camera>
    </sensor>
            -->

          <sensor name='depthsenor' type='depth'>
            <camera name='depthCam'>
            <!--
              <save enabled='1'>
                <path>/home/nizq/Downloads/Datas/simulation/sticks/depthmap</path>
              </save>
              -->
              <horizontal_fov>1.047</horizontal_fov>
              <image>
                <width>640</width>
                <height>480</height>
              </image>
              <clip>
                <near>0.1</near>
                <far>100</far>
              </clip>
            </camera>
            <plugin name="depth/camera_controller" filename="libgazebo_ros_openni_kinect.so">
              <alwaysOn>true</alwaysOn>
              <updateRate>0.0</updateRate>
              <cameraName>camera</cameraName>
              <frameName>camera_link</frameName>                   
              <imageTopicName>rgb/image_raw</imageTopicName>
              <depthImageTopicName>depth/image_raw</depthImageTopicName>
              <pointCloudTopicName>depth/points</pointCloudTopicName>
              <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>              
              <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>            
              <pointCloudCutoff>0.4</pointCloudCutoff>                
              <hackBaseline>0.07</hackBaseline>
              <distortionK1>0.0</distortionK1>
              <distortionK2>0.0</distortionK2>
              <distortionK3>0.0</distortionK3>
              <distortionT1>0.0</distortionT1>
              <distortionT2>0.0</distortionT2>
              <CxPrime>0.0</CxPrime>
              <Cx>0.0</Cx>
              <Cy>0.0</Cy>
              <focalLength>0.0</focalLength>
            </plugin>
            <always_on>1</always_on>
            <update_rate>30</update_rate>
            <visualize>1</visualize>
          </sensor>

  </gazebo>


</robot>
